Repository Andrey-Kachow/MmmmBoxes: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-db, test-signatures, test-template, test-ocr

test-db:
  stage: test
  script:
  - - python3 -m venv venv
    - source venv/bin/activate
    - pip install --upgrade pip
    - pip install -r test/requirements.txt
    - pip install -r requirements.txt
    - export DATABASE_URL="postgres://gitlab-runner:memes@localhost:5432/postgres"
    - apt install tesseract-ocr -y
  ...

test-signatures:
  stage: test
  script:
  - - python3 -m venv venv
    - source venv/bin/activate
    - pip install --upgrade pip
    - pip install -r test/requirements.txt
    - pip install -r requirements.txt
    - export DATABASE_URL="postgres://gitlab-runner:memes@localhost:5432/postgres"
    - apt install tesseract-ocr -y
  ...

test-template:
  stage: test
  script:
  - - python3 -m venv venv
    - source venv/bin/activate
    - pip install --upgrade pip
    - pip install -r test/requirements.txt
    - pip install -r requirements.txt
    - export DATABASE_URL="postgres://gitlab-runner:memes@localhost:5432/postgres"
    - apt install tesseract-ocr -y
  ...

test-ocr:
  stage: test
  script:
  - - python3 -m venv venv
    - source venv/bin/activate
    - pip install --upgrade pip
    - pip install -r test/requirements.txt
    - pip install -r requirements.txt
    - export DATABASE_URL="postgres://gitlab-runner:memes@localhost:5432/postgres"
    - apt install tesseract-ocr -y
  ...

[fix/cicd/ap4220] Removed apt from gitlab runner and also sudo from .launchserver
  .gitlab-ci.yml
  launch_server
Due: none

[fix/ap4220] setting env variable as dummy was a mistake
  launch_server
Due: none

[fix/ap4220] fixed environmental variables issue
  launch_server
  main/app/ocr.py
Due: test-ocr

[fix/ap4220] Attempt to fix tesseract not installed on heroku
  launch_server
Due: none

[debug/ap4220] Attempt to figure out the reason of missing tesseract
  launch_server
Due: none

[fix/ap4220] replaced apt with apt-get
  launch_server
Due: none

[heroku/ap4220] Added apt buildpack to drp11-dev and the required Aptfile
  Aptfile
  launch_server
  main/app/ocr.py
Due: test-ocr

[fix/ap4220] Pointed app to correct pytesseract path (hopefully)
  main/app/ocr.py
Due: test-ocr

[fix/ap4220] chaged path
  main/app/ocr.py
Due: test-ocr

[fix/ap4220] Added tons of stuff to Aptfile
  Aptfile
Due: none

[heroku/ap4220] changed Aptfile
  Aptfile
Due: none

feat: nominations basic outline
  main/app/resident.py
  main/app/static/scripts/collection-modals.js
  main/app/static/scripts/officer.js
  main/app/static/styles/package-table.css
  main/app/static/styles/style.css
  main/app/templates/base.html
  main/app/templates/common/package-table/collection-pending-column.html
  main/app/templates/common/package-table/table.html
  main/database/db.py
  test/test_db.py
Due: test-db, test-signatures

fix: adding new package returns nominee id as well
  main/database/db.py
Due: test-db, test-signatures

fix: nominee_id referencing
  main/database/db.py
Due: test-db, test-signatures

fix: database nominee sql
  main/database/db.py
Due: test-db, test-signatures

fix: modify schema.sql
  main/database/schema.sql
Due: test-db, test-signatures

feat: nomination revoking
  main/app/resident.py
  main/app/templates/common/package-table/collection-pending-column.html
  main/app/templates/common/package-table/package-owner-column.html
  main/database/db.py
Due: test-db, test-signatures

fix: get all packages includes packages they are nominated for
  main/database/db.py
Due: test-db, test-signatures

[chore/ap4220] Hide non-officer columns from resident
  main/app/templates/common/package-table/package-owner-column.html
  main/app/templates/common/package-table/table.html
Due: none

[chore/ap4220] Limited package title column width in case of large title
  main/app/static/styles/package-table.css
  main/app/templates/common/package-table/table.html
Due: none

[fix/ap4220] Fixed signature status preservation due to not adding signed flag
  main/app/officer.py
Due: none

[chore/ap4220] Rearranged the order of null checks in ocr.js
  main/app/static/scripts/ocr.js
Due: none

[feat/ap4220] Non alerting OCR info
  main/app/static/scripts/ocr.js
  main/app/static/styles/overview.css
  main/app/templates/officer/package-table/view-packages.html
Due: none

[fix/ap4220] Fixed exception for images with no text and improved ocr info text
  main/app/ocr.py
  main/app/static/scripts/ocr.js
Due: test-ocr

fix: updates requirements.txt to include PIL and Pillow
  requirements.txt
Due: none

style: reminder buttons styling
  main/app/static/styles/package-table.css
  main/app/templates/common/package-table/table.html
  main/app/templates/officer/package-table/view-packages.html
Due: none

fix: PIL dependency
  requirements.txt
Due: none

fix: remove PIL dependency
  requirements.txt
Due: none

Smarter reference searching, image rescaling
  main/app/ocr.py
Due: test-ocr

Formatting changes
  main/app/officer.py
  main/app/resident.py
  main/app/static/scripts/ocr.js
  main/app/static/styles/package-table.css
  main/app/templates/base.html
  main/app/templates/common/package-table/collection-pending-column.html
  main/app/templates/common/package-table/package-owner-column.html
  main/app/templates/common/package-table/table.html
  main/app/templates/officer/package-table/view-packages.html
  main/database/db.py
  test/test_ocr.py
Due: test-db, test-signatures, test-ocr

Changed test to reflect new behaviour
  test/test_ocr.py
Due: test-ocr

Formatting stuff
  main/app/templates/common/package-table/table.html
  main/app/templates/officer/package-table/view-packages.html
Due: none

Fixed socket stuff
  main/app/templates/common/package-table/table.html
  main/app/templates/officer/package-table/view-packages.html
Due: none

[fix/ap4220] Replaced with safer nominee selection
  main/app/resident.py
  main/app/templates/common/package-table/collection-pending-column.html
Due: none

Update package-table.css for protection from large package titles
  main/app/static/styles/package-table.css
Due: none

OCR angle fix
  main/app/ocr.py
Due: test-ocr

Typo fix
  main/app/ocr.py
Due: test-ocr

feat: email notifications user story built
  main/app/notifications.py
  main/app/officer.py
  main/app/resident.py
  main/app/templates/common/package-table/collection-pending-column.html
  main/app/templates/common/package-table/table.html
  main/app/templates/officer/package-table/view-packages.html
  main/database/db.py
  main/database/email-template.txt
Due: test-db, test-signatures

feat: hide collected package feature
  main/app/templates/common/package-table/table.html
Due: none

fix: hidden package table collapsing, feat: table search for improved lookup
  main/app/static/styles/package-table.css
  main/app/templates/common/package-table/table.html
Due: none

Path conditions:
  test-db: any of: main/database/**.*
  test-signatures: any of: main/database/**/*
  test-template: any of: main/app/populate_template.py
  test-ocr: any of: main/app/ocr.py, test/test_ocr.py
